body{
background:black;
}
.cover{
left:257px;
width:750px;
height:1245px;
position:absolute;
z-index:999;
background:rgba(0,0,0,0.3)}
.cover div{
width:542px;
height:245px;
background:rgba(255,255,255,0.8);
border-radius:10px;
position:relative;
margin:361px auto;
}
.cover p{height:156px;
line-height:156px;
text-align:center;
font-size:28px;
font-weight:bold;}
.cover button{
position:absolute;
bottom:0px;
height:87px;
width:270px;
border:none;
font-size:30px;
color:#f34336;
background:rgba(255,255,255,0.8);

}
.cover .ok{
border-top:solid 1px #dbdbdb;
right:0px;
}
.cover .clear{
border-top:solid 1px #dbdbdb;
border-right:solid 1px #dbdbdb;
width:272px;

}
.main{
width:750px;
margin:0 auto;
background:#f4f4f4;
overflow:hidden;
position:relative;
}
header{
height:102px;
background:white;
margin-bottom:31px;
border-bottom:solid 1px #dbdbdb;
}
header div{width:80px;
height:102px;
float:left;
font-size:46px;
color:#6b6b6b;
line-height:102px;
text-align:center;
cursor:pointer}
header p{

width:670px;
height:102px;
float:left;
font-size:46px;
color:#555555;
line-height:102px;
text-align:center;
font-weight:bold}
section div{
height:918px;
background:#f4f4f4;
border-bottom:solid 1px #dbdbdb;

}
section p{height:88px;
line-height:88px;
text-indent:29px;
font-size:25px;
color:#999999;}
footer{
float:left;
height:101px;
}
.footer_left{
width:524px;
height:101px;
background:#3e3a39;
font-size:30px;
color:white;
float:left;
line-height:101px;
text-indent:26px;
}
.footer_right{
width:226px;
height:101px;
line-height:101px;
background:#f34336;
font-size:30px;
color:white;
float:left;
text-align:center;
cursor:pointer;
}
section .box{
padding:0px 27px;
width:696px;
background:white;

}
section .box .box_b{
height:91px;
background:white;
background-image:url(../img/05.jpg);
background-repeat:no-repeat;
background-position:left center;
font-size:25px;
line-height:91px;
text-indent:73px;
color:#b2b2b2;
border-bottom:dashed 1px #dbdbdb;
}
#caiList{
	overflow-y: scroll;
}
#caiList li{height:89px;position:relative}
#caiList li h4{float:left;
height:89px;
line-height:89px;
font-size:25px;
color:black;
width:225px;
margin-right:128px;}
#caiList li p{
float:left;
width:150px;
height:89px;
line-height:89px;
font-size:25px;
color:black;
}
#caiList li p span{
color:#cfcfcf;
}
.box .add{right:0px;
bottom:20px}
.box .plus{right:100px;
bottom:20px;
background:white;
color:#f34336;
border:solid 1px #f34336}
.box button{
width:50px;
height:50px;
border-radius:50%;
background:#f34336;
border:none;
font-size:25px;
color:white;
position:absolute;
}
#caiList div{
position:absolute;
font-size:25px;
color:black;
height:80px;
right:60px;
bottom:0px;
line-height:80px;
background:white;
border-bottom:none;
}